<!doctype html>
<html lang="en">
<head>
    {% include googleanalytics.html %}
    <link rel="stylesheet" href="/assets/css/styles.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% feed_meta %}
    {% seo %}
    <title>{{ page.title }}</title>
</head>
<body>
    <div class="crumb">
        <span>jlgao.net</span>
        <span><a href="/feed.xml">feed →</a></span>
    </div>

    <h1 class="masthead">George Gao</h1>

    {{ content }}
</body>
</html>
